@model IEnumerable<_00003951_DBSD_CW2.Models.Flower>

@{
    ViewBag.Title = "Index";
}

<h2>Flowers</h2>
<br />

@using (@Html.BeginForm("Index", "Flower", FormMethod.Get))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.DropDownList("fCategory", new SelectList(ViewBag.categories, "Id", "Name", ViewBag.vacancyId), "--- Select category ----", new { @class = "form-control", @placeholder = "Title" })
        </div>
        <div class="form-group">
            @Html.TextBox("fName", ViewBag.fName as string, new { @class = "form-control", @placeholder = "Name"  })
        </div>

        <div class="form-group">
            @Html.TextBox("fDescription", ViewBag.fDescription as string, new { @class = "form-control", @placeholder = "Description" })
        </div>

        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>

        <div class="form-group">
            @Html.ActionLink("Reset", "Index", "Flower", new { }, new { @class = "btn btn-default"})
        </div>
    </div>
}
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="well">
                <div>
                    <img style="width: 100%; height: 200px" src="~/Content/flowers/@item.ImgUrl" />
                </div>
                <h4 class="text-success text-center" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <hr />
                <div>
                    Category: @Html.ActionLink(@item.FlowerCategory.Name, "Index", new { categoryId = @item.FlowerCategoryId }, new { @class = "text-primary" })
                </div>
                <hr />
                <p style="height: 150px; overflow: hidden; font-size: 12px; text-align: justify">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <div>
                    @Html.ActionLink("Order", "Order", new { id = item.Id }, new { @class = "btn btn-block btn-success" })
                </div>
            </div>
        </div>
    }
</div>