@model IEnumerable<_00003951_DBSD_CW2.Models.Report>

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (@Html.BeginForm("Report", "Vacancy", FormMethod.Get))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.DropDownList("vacancyId", new SelectList(ViewBag.vacancies, "VacancyId", "VacancyTitle", ViewBag.vacancyId), "--- Select vacancy ----", new { @class = "form-control", @placeholder = "Title" })
        </div>

        <div class="form-group">
            <input type="submit" value="Generate" class="btn btn-success" />
        </div>
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            Stage Name
        </th>
        <th>
            Candidate Count
        </th>
        <th>
            Vacancy Title
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.VacancyTitle)
        </td>

    </tr>
}

</table>
