@model _00003951_DBSD_CW2.Models.Application

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Application", new { id = Model.ApplicationId }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Application</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ApplicationId)

 

        <div class="form-group">
            <label class="control-label col-md-2">Stage</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StageId, new SelectList (ViewBag.stages, "StageId", "StageName", Model.StageId),  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Move" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Vacancy", new { id = Model.VacancyId }, null)
</div>
