@model IEnumerable<_00003951_DBSD_CW2.Models.FlowerOrder>

@{
    ViewBag.Title = "Index";
}

<h2>My Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessStatusText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessStatusText)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
