@model IEnumerable<_00003951_DBSD_CW2.Models.FlowerPurchaseReport>

@{
    ViewBag.Title = "Purchases";
}

<h2>Purchases Report</h2>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.Label("Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("customerId", new SelectList(ViewBag.customers, "Id", "FullName"), "--Select--", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Show" class="btn btn-default" />
            </div>
        </div>
    }

</div>

<table class="table">
    <tr>
        <th>
            Flower Id
        </th>
        <th>
            Flower Name
        </th>
        <th>
            Amount
        </th>
        <th>
            Flowers Count
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlowerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlowerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlowersCount)
        </td>
    </tr>
}

</table>
