@model IEnumerable<_00003951_DBSD_CW2.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="row">
   <div class="col-md-8">
       <h2>My Shopping Cart</h2>
   </div>
    <div class="col-md-4">
        <div style="padding: 10px 0" class="text-right">
            <a href="/Order/Checkout" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Check out</a>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlowerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img style="height: 80px" src="~/Content/flowers/@item.Flower.ImgUrl" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flower.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>@item.Flower.Price $</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
